Repository lightbend/cloudflow, pull requests merged in 2020-09, with the labels that each got.

#715 runLocalLog4jConfigFile setting for custom log4j configuration used in runLocal.
  core/sbt-cloudflow/src/main/scala/cloudflow/sbt/CloudflowApplicationPlugin.scala
  core/sbt-cloudflow/src/main/scala/cloudflow/sbt/CloudflowKeys.scala
  core/sbt-cloudflow/src/main/scala/cloudflow/sbt/CloudflowLocalRunnerPlugin.scala
  docs/shared-content-source/docs/modules/develop/pages/cloudflow-local-sandbox.adoc
  examples/snippets/modules/ROOT/examples/sensor-data-scala/build.sbt
  examples/snippets/modules/ROOT/examples/sensor-data-scala/src/main/resources/log4j.xml
  examples/taxi-ride/build.sbt
  examples/taxi-ride/taxi-ride-pipeline/src/main/resources/log4j.properties
Labels: documentation, examples

#703 Mounting secrets in pods
  core/cloudflow-operator/src/main/scala/cloudflow/operator/runner/AkkaRunner.scala
  core/cloudflow-operator/src/main/scala/cloudflow/operator/runner/FlinkRunner.scala
  core/cloudflow-operator/src/main/scala/cloudflow/operator/runner/Runner.scala
  core/cloudflow-operator/src/main/scala/cloudflow/operator/runner/SparkRunner.scala
  core/cloudflow-operator/src/test/scala/cloudflow/operator/runner/AkkaRunnerSpec.scala
  core/cloudflow-operator/src/test/scala/cloudflow/operator/runner/FlinkRunnerSpec.scala
  core/cloudflow-operator/src/test/scala/cloudflow/operator/runner/SparkRunnerSpec.scala
  docs/shared-content-source/docs/modules/develop/pages/cloudflow-configuration.adoc
  kubectl-cloudflow/config/config.go
  kubectl-cloudflow/config/config_test.go
  kubectl-cloudflow/config/kubernetes_config_test.go
Labels: documentation, kubectl-cloudflow, operator

#719 Modified Kafka settings in strimzi example, noted this is purely for …
  docs/docs-source/docs/modules/administration/pages/how-to-install-and-use-strimzi.adoc
Labels: documentation

#724 Patch config labels uppercase
  kubectl-cloudflow/config/config.go
  kubectl-cloudflow/config/kubernetes_config_test.go
Labels: kubectl-cloudflow

#726 Higher timeout setting for subscription to response entity.
  core/cloudflow-operator/src/main/resources/application.conf
Labels: operator

#716 Update Admin documentation
  docs/docs-source/docs/modules/administration/pages/how-to-install-and-use-strimzi.adoc
  docs/docs-source/docs/modules/administration/pages/installation-prerequisites.adoc
  docs/docs-source/docs/modules/administration/pages/installing-enterprise.adoc
  docs/docs-source/docs/modules/administration/pages/installing-flink-operator.adoc
Labels: documentation

#733 Fixed Partitioner support for Flink CodecOutlet support
  core/cloudflow-flink/src/main/scala/cloudflow/flink/FlinkKafkaCodecSerde.scala
  core/cloudflow-flink/src/main/scala/cloudflow/flink/FlinkStreamletContextImpl.scala
Labels: flink

#751 Replacing ${?VAR}, ${VAR} and $VAR environment/shell variables with values in config
  docs/shared-content-source/docs/modules/develop/pages/cloudflow-configuration.adoc
  kubectl-cloudflow/config/config.go
  kubectl-cloudflow/config/config_test.go
Labels: documentation, kubectl-cloudflow

#753 Update to Akka 2.6.9 and Ficus 1.5.0.
  core/project/Dependencies.scala
  core/sbt-cloudflow/src/main/scala/cloudflow/sbt/CloudflowAkkaPlugin.scala
Labels: dependencies

#754 fixed misterious case in uppercase when running test in labels
  kubectl-cloudflow/config/config.go
  kubectl-cloudflow/config/kubernetes_config_test.go
Labels: kubectl-cloudflow
