Repository lightbend/cloudflow, pull requests merged in 2020-10, with the labels that each got.

#760 doc: Initial fixes and improvements to the getting started guide
  docs/README.md
  docs/docs-source/docs/modules/get-started/pages/setup-example-project-configure-build.adoc
  examples/snippets/modules/ROOT/examples/sensor-data-scala/build.sbt
  examples/snippets/modules/ROOT/examples/sensor-data-scala/project/cloudflow-plugins.sbt
Labels: documentation, examples

#761 [docs] Add local resources files to the getting started guide
  core/sbt-cloudflow/src/main/scala/cloudflow/sbt/CloudflowLocalRunnerPlugin.scala
  docs/docs-source/docs/modules/get-started/pages/setup-example-project-configure-build.adoc
Labels: documentation

#762 [docs] Improve the testing section of the local example to be self contained
  docs/docs-source/docs/modules/get-started/pages/run-in-sandbox.adoc
Labels: documentation

#765 Add methods to change Spark session and Flink streaming env from the streamlet.
  core/cloudflow-flink/src/main/scala/cloudflow/flink/FlinkStreamlet.scala
  core/cloudflow-spark/src/main/scala/cloudflow/spark/SparkStreamlet.scala
Labels: flink, spark

#769 [docs] Improve logging configuration documentation. Fix #58
  docs/docs-source/docs/modules/get-started/pages/setup-example-project-configure-build.adoc
Labels: documentation

#764 Mounting existing pvcs through conf
  core/cloudflow-operator/src/main/scala/cloudflow/operator/runner/Runner.scala
  core/cloudflow-operator/src/test/scala/cloudflow/operator/runner/AkkaRunnerSpec.scala
  core/cloudflow-operator/src/test/scala/cloudflow/operator/runner/FlinkRunnerSpec.scala
  core/cloudflow-operator/src/test/scala/cloudflow/operator/runner/SparkRunnerSpec.scala
  docs/shared-content-source/docs/modules/develop/pages/cloudflow-configuration.adoc
  integration-tests/itest/deploy_test.go
  integration-tests/itest/go.sum
  integration-tests/itest/k8s/k8s.go
  integration-tests/itest/k8s_pvc/k8s_pvc.go
  integration-tests/itest/k8s_secret/k8s_secret.go
  integration-tests/itest/resources/imhere.txt
  integration-tests/itest/resources/pvc.yaml
  integration-tests/itest/resources/swiss-knife.json
  integration-tests/itest/resources/update_mounting_pvc.conf
  integration-tests/itest/resources/update_mounting_secret.conf
  kubectl-cloudflow/cmd/configure_command.go
  kubectl-cloudflow/cmd/deploy_command.go
  kubectl-cloudflow/config/config.go
  kubectl-cloudflow/config/config_test.go
  kubectl-cloudflow/config/k8s_config_test.go
Labels: documentation, kubectl-cloudflow, operator

#774 Fix 'using namespace'
  core/build.sbt
  core/cloudflow-akka/src/main/scala/cloudflow/akkastream/AkkaStreamletLogic.scala
  core/cloudflow-events/src/main/scala/cloudflow/events/errors/CloudflowLabels.scala
  core/cloudflow-events/src/main/scala/cloudflow/events/errors/ErrorEvents.scala
  core/cloudflow-events/src/test/resources/config-map-sample.json
  core/cloudflow-events/src/test/resources/logback-test.xml
  core/cloudflow-events/src/test/scala/cloudflow/events/errors/ErrorEventsSpec.scala
  core/cloudflow-flink/src/main/scala/cloudflow/flink/FlinkKafkaCodecSerde.scala
  core/cloudflow-flink/src/main/scala/cloudflow/flink/FlinkStreamletContextImpl.scala
  core/cloudflow-operator/src/main/scala/cloudflow/operator/HealthChecks.scala
  core/cloudflow-operator/src/main/scala/cloudflow/operator/Main.scala
  core/cloudflow-operator/src/main/scala/cloudflow/operator/Operator.scala
  core/cloudflow-operator/src/main/scala/cloudflow/operator/action/Action.scala
  core/cloudflow-operator/src/main/scala/cloudflow/operator/action/TopicActions.scala
  core/cloudflow-operator/src/main/scala/cloudflow/operator/runner/FlinkRunner.scala
  core/cloudflow-operator/src/main/scala/cloudflow/operator/runner/Runner.scala
  core/cloudflow-operator/src/main/scala/cloudflow/operator/runner/SparkRunner.scala
  core/cloudflow-runner/src/main/scala/cloudflow/runner/Runner.scala
  core/cloudflow-spark-testkit/src/main/scala/cloudflow/spark/testkit/SparkStreamletTestkit.scala
  core/cloudflow-streamlets/src/main/scala/cloudflow/streamlets/proto/javadsl/ProtoCodec.scala
  core/sbt-cloudflow/src/main/scala/cloudflow/sbt/CloudflowLocalRunnerPlugin.scala
Labels: akka, flink, operator, spark, streamlets

#775 Fixed Flink filesystem initialization.
  core/cloudflow-flink/src/main/scala/cloudflow/flink/FlinkKafkaCodecSerde.scala
  core/cloudflow-flink/src/main/scala/cloudflow/flink/FlinkStreamlet.scala
Labels: flink

#779 Fix run local logging for Flink streamlets.
  core/cloudflow-flink/src/main/scala/cloudflow/flink/FlinkStreamlet.scala
  core/cloudflow-localrunner/src/main/scala/cloudflow/localrunner/LocalRunner.scala
  core/sbt-cloudflow/src/main/scala/cloudflow/sbt/StreamletScanner.scala
Labels: flink

#786 Some fixes in the operator
  core/cloudflow-operator/src/main/scala/cloudflow/operator/action/Action.scala
  core/cloudflow-operator/src/main/scala/cloudflow/operator/action/Actions.scala
Labels: operator

#791 Operator exceptions to status
  core/cloudflow-operator/src/main/scala/cloudflow/operator/CloudflowApplication.scala
  core/cloudflow-operator/src/main/scala/cloudflow/operator/action/Action.scala
  core/cloudflow-operator/src/main/scala/cloudflow/operator/action/ActionExecutor.scala
  core/cloudflow-operator/src/main/scala/cloudflow/operator/action/RunnerActions.scala
  core/cloudflow-operator/src/main/scala/cloudflow/operator/action/SkuberActionExecutor.scala
  core/cloudflow-operator/src/main/scala/cloudflow/operator/action/TopicActions.scala
  core/cloudflow-operator/src/main/scala/cloudflow/operator/event/StreamletChangeEvent.scala
  core/cloudflow-operator/src/main/scala/cloudflow/operator/runner/Runner.scala
  integration-tests/Makefile
  integration-tests/itest/deploy_test.go
  integration-tests/itest/itest
Labels: operator

#795 Fixes: Merge default named Kafka cluster config as fallback to any global topic config
  .github/workflows/build-pr.yaml
  core/cloudflow-operator/src/main/scala/cloudflow/operator/event/ConfigurationScopeLayering.scala
  core/cloudflow-operator/src/test/scala/cloudflow/operator/event/ConfigurationScopeLayeringSpec.scala
  docs/docs-source/docs/modules/administration/pages/installing-flink-operator.adoc
  docs/docs-source/docs/modules/administration/pages/installing-spark-operator.adoc
  examples/scripts/change-plugin-version.sh
  scripts/build-all.sh
Labels: documentation, examples, operator

#799 Use an async appender for logging
  core/cloudflow-operator/src/main/resources/logback.xml
Labels: operator
